
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

div.w3-display-middle {
    text-align: center;
}

#logo-div {
    opacity: 0.7;
    background-color: white;
}

h3#logo {
    padding: 0 40px;
    width: 100%;
    margin: 0;
    color: black;
    font-size: 50px;
    font-family:  'Poiret One', cursive;
}

div#myNavbar i.links {
    font-size: 22px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/DSC7792.JPG');
    min-height: 90%;
}

.w3-opacity-min {
    opacity: 0.9;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../images/IMG_20170413_152548031_HDR.JPG");
    min-height: 500px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../images/DSC8003.JPG");
    min-height: 500px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

div#about p {
    text-align: justify;    
}

div#interests ul {
    list-style: none;
    padding: 0;
}

#interests p {
    display: inline;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

#interests ul li {
    margin-top: 5px;
}

div.w3-card-2 {
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 20px;
    font-size: 12px;
}

div.card-info p {
    margin: 0 0 10px 0;
}

div.card-info a {
    text-decoration: none;
    color: #1a79f8;
    padding: 0 30px;
}

div.w3-card-2 img {
    width: 150px;
    height: auto;
    margin: 10px 0 20px 0;
}

div#gotta-go {
    padding: 20px;
    background-color: #393f60;
    width: 35%;
    height: auto;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

p.bold {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
}

div.card-info {
    width: 65%;
    padding: 20px 20px 0 20px;
    font-size: 1rem;
    text-align: left;
}

div.links {
    width: 100%;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

div#mart-studio img {
    width: 320px;
    height: auto;
    margin: 60px 0;
}

div#mart-studio {
    width: 35%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

div#unmute img {
    width: 300px;
}

div#unmute, div#react-scrapper {
    width: 35%;
    padding-top: 40px;
}

div#react-scrapper h1 {
    font-family: 'Lora', serif;
    margin: 0;
}

div.w3-cards-4 {
    display: inline-flex;
    flex-direction: column;
    font-size: 1rem;
    width: 33%;
}

div#games {
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

div.games-card-info a {
    text-decoration: none;
    color: #777;
    padding: 0 10px;
}

div.games-card-info {
    padding: 10px;
}

div#hangman img {
    width: 100%;
    height: auto;
    margin: 0;
}

div#crystal-collector img {
    width: 40%;
}

div#googleMap.w3-greyscale {
    filter: grayscale(25%);
}

footer a {
    text-decoration: none;
}

footer i.links {
    font-size: 40px;
    padding: 5px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 736px) {
    .w3-row.projects.w3-center {
        width: 100%;
    }
    .w3-card-2 {
        width: 100%;
    }
}