body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

img#logo {
    width: 100%;
    margin: 0;
}

div#myNavbar i.links {
    font-size: 22px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/DSC0148.JPG');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../images/DSC0061.JPG");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../images/DSC0175.JPG");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

div.w3-content.w3-container.w3-padding-64 {
    /*padding: 40px 20px!important;*/
}

div#about p {
    text-align: justify;    
}

div#interests {
    /*padding-left: 20px;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

div#interests ul {
    list-style: none;
    padding: 0;
}

#interests p {
    display: inline;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #dddddd;*/
}

#interests ul li {
    margin-top: 5px;
}

div.w3-row.projects {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.w3-card-2 {
    width: 450px;
    height: auto;
    margin: 10px;
    font-size: 12px;
}

div.w3-card-2 img {
    width: 100px;
    height: auto;
    margin: 30px 0;
}

div#gotta-go {
    background-color: #393f60;
    width: 100%;
    height: auto;
}

.bold {
    font-weight: 700;
    font-size: 14px;
}

div#mart-studio img {
    width: 350px;
    height: auto;
    margin: 0;
}

div#drevo img {
    width: 200px;
    height: auto;
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer i.links {
    font-size: 40px;
    padding: 5px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 736px) {
    .w3-row.projects.w3-center {
        width: 100%;
    }
    .w3-card-2 {
        width: 100%;
    }
}